
@import '../styles/variables';
@import '../styles/mixins.scss';







workspace-login {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-wrapper {
  padding: 15px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1224px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Montserrat', sans-serif;
  @include sm-breakpoint {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  form {
    display: grid;
    max-width: 400px;
    width: 100%;
    .text-inputs {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      label {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        font-size: 14px;
        color: #2d2d2d;
        input {
          @include input;
        };
        .alert {
          @include alert;
        };
      }
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 35px;
      .button {
        font-size: 16px;
        display: flex;
        height: 40px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 25px;
        cursor: pointer;
      }
      .submit {
        padding: 0 30px;
        background-color: #3991EB;
        color: white;
      }
      .submit:hover {
        box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.16);
        transition: ease-in-out all 150ms;
      }
      .creare-account {
        background-color: #fafafa;
        a {
          color: #2d2d2d;
          text-decoration: none;
          height: 40px;
          padding: 0 40px;
          display: flex;
          align-items: center;
          border-radius: 25px;
        }
      }
      .creare-account:hover {
        box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.16);
        transition: ease-in-out all 150ms;
      }
    }
  }
}








