<section class="main-wrapper">

  <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="text-inputs">

      <label for="email" class="email-label">Email
        <input id="email" type="email" placeholder="Insert your email" formControlName="email">
        <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" class="alert">
          Missing email
        </div>
        <div *ngIf="incorrectEmail && incorrectPass" class="alert">
          Incorrect email or password
        </div>
      </label>
      <label for="password" class="password-label">Password
        <input id="password" type="text" placeholder="Insert your password" formControlName="password">
        <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="alert">
          Missing password
        </div>
        <div *ngIf="incorrectEmail && incorrectPass" class="alert">
          Incorrect email or password
        </div>
      </label>
    </div>

    <div class="buttons">
      <button [disabled]="!loginForm.valid" class="button submit" type="submit">Login</button>
      <button class="button creare-account"><a routerLink="/registration">Create an account</a></button>
    </div>

  </form>
<!--
  <div class="img">
    <img src="./../../assets//bg.jpg" alt="">
  </div> -->
  <ng-lottie
    class="animation"
    [options]="options"
    [width]="lottieWidth"
    [height]="lottieHeight"
    (animationCreated)="animationCreated($event)">
  </ng-lottie>

</section>



<!-- <ng-lottie
  width="600px"
  height="500px"
  containerClass="moving-box another-class"
  [styles]="styles"
  [options]="options"
  (animationCreated)="animationCreated($event)"
  (configReady)="configReady()"
  (dataReady)="dataReady()"
  (domLoaded)="domLoaded()"
  (enterFrame)="enterFrame($event)"
  (segmentStart)="segmentStart($event)"
  (complete)="complete($event)"
  (loopComplete)="loopComplete($event)"
  (destroy)="destroy($event)"
  (error)="error($event)"
></ng-lottie> -->
